h1 {
	color:orange;
}

button {
	margin:10px;
	height:30px;
	width:150px;
}

#box1 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box2 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box3 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box4 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box5 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box6 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box7 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box8 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box9 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box10 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box11 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box12 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box14 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box15 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box16 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box17 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box18 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box19 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box19 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box20 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box21 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box22 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box23 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box24 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}
#box25 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box26 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box27 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box28 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box29 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box30 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box31 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box32 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box33 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box34 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box35 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box36 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box37 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box38 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box39 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box40 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box41 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box42 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box43 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box44 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}

#box45 {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	visibility:hidden;
}
